<div class="d-flex flex-column justify-content-center w-100 h-100">
    <mono-repo-nav-menu-nav-menu></mono-repo-nav-menu-nav-menu>

<body>
    <div class="container banner">
        <div class="row">
            <div class="col md-12">
                <div class="col-md-6 offset-md-3">
                    <h1 class="text-center custom-font">NexGen</h1>
                    <p class="text-center">
                        Welcome to NexGen Institute, where innovation meets
                        education, and excellence is a tradition. At NexGen,
                        we are committed to nurturing the next generation of leaders, thinkers, and innovators
                        by providing a transformative learning experience.
                    </p>
                </div>

            </div>
        </div>
        <div class="row mt-4 ml-2">
            <!-- Add margin-top to create space -->
            <div class="col-md-10 offset-md-1 d-flex">
                <img src="assets/grad.jpeg" alt="graduate" class="img-fluid " />
                <div class="mission-content p-4">
                    <h2>Our Mission</h2><br />
                    <p>Empowering minds, shaping futures. Our mission is to foster holistic development by offering dynamic and forward-thinking education that prepares students for success in an ever-evolving world</p>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <!-- Add margin-top to create space -->
            <div class="col-md-10 offset-md-1 d-flex">
                <div class="mission-content p-4">
                    <h2> Join the NexGen Community</h2><br />
                    <p>Embark on a journey of knowledge, growth, and limitless possibilities. At NexGen Institute, we believe in unlocking the potential within each student and preparing them to make a positive impact on the world.</p>
                </div>
            </div>
        </div>



    </div>
</body>
<mono-repo-footer></mono-repo-footer>
</div>