<div class="d-flex flex-column justify-content-center w-100 h-100">
    <mono-repo-nav-menu-nav-menu></mono-repo-nav-menu-nav-menu>
    <body>
        <div class="container banner">
          
            <div class="row">
                <!-- Add margin-top to create space -->
                <div class="col-md-10 offset-md-1 ">
                    <div class="mission-content p-4">
                        <h1>Welcome To NexGen</h1><br />
                        <p>Ignite your future with NexGen - where excellence meets innovation in education.</p><br/>

                        <button type="button" (click)="navigate()">JOIN</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <mono-repo-footer></mono-repo-footer>
</div>
